// HOME SECTION
.home-section {
    background-color: $secondary;
    background-image: url("./images/pattern-bianco.png");
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-bottom: 25px;
    }

    h1, h4 {
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }

}

.home-row {
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;


    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        border: 2px solid black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.name-container,
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.8s;
}


.image-container:hover {
    transform: translateX(10px) scale(1.1);
}

.video-container:hover {
    transform: translateX(-10px) scale(1.1);
}

.name-container:hover {  
    transform: scale(1.08);    
}

.background-video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


// ABOUT SECTION
.about-section {
    background-color: $third;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        border: 1px solid $primary;
        border-radius: 6px;
        color: $primary;
        display: block;
        font-family: $fonts;
        font-size: 20px;
        margin: 10px auto;
        max-width: 250px;
        padding: 10px;
        text-decoration: none;

        transition: all .6s ease;
    }

    .btn:hover {
        color: aliceblue;
    }

    .btm-animation .btn:hover{
        box-shadow: 0 -10vw 0 $brand-color inset;
      }

    h3 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    a {
        color: aliceblue;
    }

}

// CARDS
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.card-row {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-top: 0;
}

.card {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 150px;
    background-color: aliceblue;
}

.card-img-top {
    object-fit: contain;
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}


// PORTFOLIO SECTION
.portfolio-section {
    background-color: $forth;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card {
        height: 200px;
        transition: transform 0.8s;
    }

    .card:hover {
        transform: scale(1.05);        
    }

    p {
        margin-bottom: 30px;
    }
    
}


// CONTACT SECTION
.contacts-section {
    background-color: $fifth;

    h1 {
        margin-bottom: 30px;
    }
}

.contact-description,
.link-column {
    word-wrap: break-word;
    margin-top: 25px;
}

// CONTACT DESCRIPTION
.contact-column {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 0 -30px;

}

.contact-description {
    display: flex;
    align-items: center;
    justify-content: center;

}

// FORM
#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 20px;


    textarea {
        height: 100px;
    }

    p {
        margin-bottom: 0;        
    }

    label {
        margin-top: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 3px;
        margin-bottom: 10px;
        border: 1px solid aliceblue;
        border-radius: 4px;
        transition: transform 0.8s;
    }

    .input-effect:hover {
        transform: scale(1.03);  
    }

    input {
        border: none;
    }
}


.send-button {
    background-color: $brand-color;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.send-button:hover {
    background-color: #0069cb;    
}

.send-button:active { 
    background-color: #0154a2;    
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}

.feedback-message {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;    
}

.feedback-message.success {
    color: green; 
}

.feedback-message.error {
    color: red;
}


// LINK COLUMN

.link-column {
    display: flex;
    flex-direction: column;
    margin: 0px -10px 0 40px;

}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    img {
        width: 40px;
        height: auto;
        margin-right: 10px;
    }

    a {
        color: black;
        text-decoration: none;
        padding: 2px 10px;        
    }

    a:hover {
        color: aliceblue;        
    }
}