@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fonts;
}

/* NAVBAR */
nav {
    background-color: $primary;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    img {
        margin-top: -2px;
    }

    li {
        margin-right: 10px;
    }

    p {
        display: inline;
        font-weight: 400;
        font-size: 22px;
        color: aliceblue;
    }

    .navbar-toggler {
        border-style: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='aliceblue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .brand-name {
        margin-left: 10px;
    }
}

.home-section,
.portfolio-section,
.about-section,
.contacts-section {
    min-height: 100vh; 
}

.home-section {
    background-color: $secondary;
}

.portfolio-section {
    background-color: $third;
}

.about-section {
    background-color: $forth;
}

.contacts-section {
    background-color: $fifth;
}

/* MEDIA QUERIES */
@media (min-width: 601px) and (max-width: 768px) {
    nav p {
        font-size: 18px; 
    }
}

@media (min-width: 414px) and (max-width: 600px) {
    nav p {
        font-size: 16px; 
    }
}

@media (max-width: 413px) {
    nav p {
        font-size: 14px;
    }
}
